{% load adv_cache hash_tags thumbnail i18n truncate display_tags spurl humanize %}

<div class="list_body_row selectable clickable item release {{ item.uuid }} {% if item.creator == user %} owner{% endif %}"
     id="list_item_{{ item.pk }}"
     {% if item.main_image %}style="background-image: url({% thumbnail item.main_image 300x300 crop upscale subject_location=item.main_image.subject_location %});"{% endif %}
     data-id="{{ item.id }}"
     data-absolute_url="{{ item.get_absolute_url }}"
     data-uuid="{{ item.uuid }}"
     data-ct="release">



    {% if item.is_new %}
    <div class="marker new">
        <span><a href="{% spurl base=request.get_full_path toggle_query="new=1,0" remove_query_param="page" %}" title="{% trans "Show new releases only" %}">new</a></span>
    </div>
    {% endif %}

    <div class="spacer tag-cloud">

        <ul class="tags unstyled horizontal">
            <li></li>
        </ul>
    </div>

    <div class="wrapper_info">
        <div class="wrapper_inner">
            <div class="list_body_item">
                <ul class="title">
                    <li class="bold">
                        <a href="{{ item.get_absolute_url }}"title="{{ item.name }}"> 
                            {{ item.name|truncate_chars_inner:18 }}
                        </a>
                    </li>
                    <li>

                        {% for artist in item.get_artists %}
                            {% if "join_phrase" in artist %}


                                {% if artist.join_phrase %}{{ artist.join_phrase }}{% endif %}
                                {% if artist.artist.get_absolute_url %}
                                    <a href="{{ artist.artist.get_absolute_url }}"
                                       title="{{ artist.artist.name }}">{{ artist.artist.name|truncate_chars_inner:12 }}</a>
                                {% else %}
                                    <span>{{ artist.artist.name|truncate_chars_inner:12 }}</span>
                                {% endif %}


                            {% else %}

                                {% if artist.get_absolute_url %}
                                    <a href="{{ artist.get_absolute_url }}">
                                        {{ artist.name|truncate_chars_inner:32 }}
                                    </a>
                                    &nbsp;
                                    <a href="{% spurl base=request.get_full_path remove_query_param="page" set_query="artist={{ artist.slug }}" %}"
                                       title="{% trans "Only show releases by" %} {{ artist.name }}"
                                       style="vertical-align: top;">
                                       <span class="filter icon"></span>
                                    </a>
                                    {% if not forloop.last %},{% endif %}
                                {% else %}
                                    <span>{{ artist.name|truncate_chars_inner:32 }}</span>
                                    {% if not forloop.last %},{% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <span class="pull-right">
                            <span>{{ item.get_songs.count }}</span>
                            {% if item.totaltracks %}
                                <span class="small"> of {{ item.totaltracks }}</span>
                            {% endif %}
                        </span>

                    </li>
                </ul>

                {% if item.releasedate %}
                <ul class="horizontal clearfix unstyled">
                    <li class="small" style="float: right;">
                        {% if  item.releasedate %}
                            {{ item.releasedate|date:"Y/m/d" }}
                        {% endif %}

                    </li>
                </ul>
                {% endif %}


            </div>
        </div>
    </div>


    <div class="by" style="position: absolute; bottom: 0; left: 5px; color: #999;">
        {% if item.creator %}
            <!--{% trans "by" %}:-->
            <a style="color: #999;"
               title="{{ item.creator.get_first_name }}"
               href="{{ item.creator.get_absolute_url }}">
                {{ item.creator.get_first_name|truncate_chars:16 }}
            </a>
            |
        {% endif %}
        {{ item.created_at|date:"SHORT_DATE_FORMAT" }}
    </div>



</div>


