{% extends "account/auth_base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {% if token_fail %}
        {{ block.super }}Invalid Password Reset Link
    {% else %}
        {{ block.super }}Change password
    {% endif %}
{% endblock %}


{% block form_heading %}Change password{% endblock %}
{% block form %}
    {% if token_fail %}
        <div class="form-message">
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>The password reset link was invalid, possibly because it has already been used. 
            Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
        </p>
        </div>
    {% else %}
        {% if form %}
            {% crispy form %}
        {% else %}
            <p>Your password is now changed.</p>
        {% endif %} 
    {% endif %}
{% endblock form %}
