{% extends "account/auth_base.html" %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Sign Up{% endblock %}

{% block form_heading %}Signing Up is Free{% endblock %}

{% block form %}
    <div class="user-content">
        <div class="middle">
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers  %}
              <div class="left-panel">
                {% include "account/provider_panel.html" with process="login" %}
              </div>
            {% endif %}
            <div class="vertical-gap">OR</div>
            <div class="right-panel">
                {% crispy form %}
                <br>
                <div class="form-message" style="float: center; text-align: center;">
                    <p>
                      Already signed up? <a href="{% url 'account_login' %}">Log in</a>.
                    </p>
                </div>
            </div>
         </div>
     </div>
{% endblock form %}

