{% extends "account/auth_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ block.super }}Sign Up{% endblock %}

{% block form_heading %}Sign Up{% endblock %}

{% block form %}
    <div class="form-message" style="float: center; text-align: center;">
        <p>
            {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to {{site_name}}. 
            <br>As a final step, please complete the following form:{% endblocktrans %}
        </p>
    </div>
    <br>
    {% crispy form %}
{% endblock %}
